<%= form_with(model: unit, local: true) do |form| %>
  <% if unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(unit.errors.count, "error") %> prohibited this unit from being saved:</h2>

      <ul>
      <% unit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :sku_id %>
    <%= form.number_field :sku_id, id: :unit_sku_id %>
  </div>

  <div class="field">
    <%= form.label :warehouse %>
    <%= form.text_field :warehouse, id: :unit_warehouse %>
  </div>

  <div class="field">
    <%= form.label :bin %>
    <%= form.text_field :bin, id: :unit_bin %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status, id: :unit_status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
